$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-family: "chaparral-pro", Georgia, serif;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}

#article p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.pimp-nav {
    background-color: white;
    border-bottom: 1px solid lighten(#222, 50%);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    font-family: "prenton-condensed";
}

.cover {
    min-height: 500px;
}

.cover-text {
    background-color: #222;
    opacity: 0.7;

    .page-header {
        color: white;
    }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}