$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-family: "chaparral-pro", Georgia, serif;
    font-size: 16px;
    //padding-top: 20px;
    padding-bottom: 20px;
    //margin-top: 40px;
}

#article {
    margin-top: 20px;
}

#article p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

#article p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}

// Lettering
.char1 {
    //font-size: 100px;
    //position: relative;
    //top: 45px;
}

.pimp-nav {
    font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
    background-color: white;
    border-bottom: 1px solid lighter(#222, 50%);
    -webkit-box-shadow: 0 8px 6px -6px #eee;
       -moz-box-shadow: 0 8px 6px -6px #eee;
            box-shadow: 0 8px 6px -6px #eee;
}

.pimp-nav .navbar-toggle .icon-bar {
    background-color: #222;
}

.navbar-brand {
    color: #222;
    font-size: 23px;

    &:hover {
        color: lighten(#222, 10%);
    }
}

.navbar-nav > li > a {
    color: #222;
}

.nav-right {
    li {
        display: inline-block;
        float: right;

        button {
            margin-top: 10px;
        }
    }
}

.nav-right > li > .btn-danger {
    color: white;
}

.nav-right li > span {
    margin-top: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    font-family: "prenton-condensed";
}

.cover {
    min-height: 500px;
}

.cover-text {
    background-color: #222;
    opacity: 0.8;
    position: relative;
    top: 282px;
    text-align: center;

    .page-header {
        color: white;

        > h1 {
            font-family: "chaparral-pro", Georgia, serif;
        }

        > .lead {
            font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
            font-weight: 100;
        }
    }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}